@model MVCStock.Models.Entity.TblCategory
@{
    ViewBag.Title = "GetCategoryById";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    <div class="form-label">
        @Html.LabelFor(x => x.CategoryId)
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })

    </div>
    <br />
    <div>
        <button class="btn btn-warning">Kategori Güncelle</button>
    </div>
}

