@model MVCStock.Models.Entity.TblCustomer
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-label" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(X => X.CustomerName, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(X => X.CustomerSurname, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id=btn1>Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı');
        });
    </script>
</form>

